*{
    font-family: "Zen Maru Gothic", sans-serif;
    font-style: normal;
}

.calender{
    width: calc(100% - 4%);
    margin: 0px 1%;
    padding: 10px 1%;
    background-color: #fff3ba;
    border-radius: 10px;
    box-shadow: #0000005c 4px 4px 5px;
}

.calender_ttl{
    text-align: center;
    color: #f46000;
    margin: 10px 0px;
}

.week{
    display: flex;
}

.week[data-wn="1"] > .date{
    width: calc(100% / 7);
    height: 50px;
    border-top: 2px dashed black;
    border-left: 2px dashed black;
    border-bottom: 2px dashed black;
    margin: 0px;
}

.week:not(.week[data-wn="1"]) > .date{
    width: calc(100% / 7);
    height: 50px;
    border-left: 2px dashed black;
    border-bottom: 2px dashed black;
    margin: 0px;
}

.date[data-right="true"]{
    border-right: 2px dashed black;
}

.date[data-set="true"]{
    background-color: #ffda63;
}

.date[data-set="false"]{
    background-color: #a8a8a86e;
}

.date{
    display: flex;
    align-items: center;
}

.date_p{
    width: 100%;
    margin: 0px;
    text-align: center;
    font-size: 20px;
}