body{
    background-color: #fff9e6;
    font-family: "Zen Maru Gothic", sans-serif;
    font-style: normal;
}

h3{
    width: 80%;
    margin: 20px 10%;
    text-align: center;
    color: #ff9900;
    border-radius: 5px;
    border-bottom: 3px solid orange;
    font-size: 20px;
}

h4{
    margin: 5px 0px;
    color: #ff9900;
}

form{
    width: 96%;
    margin: 0px 1%;
    padding: 10px 1%;
    border-radius: 10px;
}

input{
    width: calc(100% - 22px);
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.url{
    width: calc(100% - 30% - 22px);
}

.url_submit{
    width: calc(30% - 5px);
    background-color: #ffbb00;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.ingredients_name , .ingredients_amount{
    width: calc(50% - 11px);
}

.steps{
    width: calc(100% - 22px);
    height: 60px;
    resize: none;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit{
    width: 60%;
    background-color: #ff9100;
    color: white;
    padding: 10px 15px;
    margin: 5px 20% 5px 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.add_submit{
    width: fit-content;
    background-color: #ffbb00;
    color: white;
    padding: 10px 15px;
    margin: 5px 5px 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.url_submit:disabled{
    background-color: gray;
}